<?xml version="1.0"?>
<robot name="fisheye_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Macro for wide-angle (fisheye) camera -->
  <xacro:macro name="fisheye_camera" params="name parent xyz rpy hfov">
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://drone_description/meshes/fisheye_camera.dae" scale="1 1 1"/>
        </geometry>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://drone_description/meshes/fisheye_camera.dae" scale="1 1 1"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.05"/>
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
      </inertial>
    </link>

    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <!-- Gazebo plugin for regular camera (not fisheye) -->
    <!-- <gazebo reference="${name}_link">
      <sensor type="camera" name="${name}_regular_cam">
        <pose>0 -0.5 0 0 0 -1.5708</pose>
        <always_on>true</always_on>
        <update_rate>30</update_rate>
        <camera>
          <horizontal_fov>${hfov}</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>100</far>
          </clip>
        </camera>
        <plugin name="${name}_camera_controller" filename="libgazebo_ros_camera.so">
          <cameraName>${name}</cameraName>
          <imageTopicName>${name}/image_raw</imageTopicName>
          <cameraInfoTopicName>${name}/camera_info</cameraInfoTopicName>
          <frameName>${name}_link</frameName>
          <updateRate>30.0</updateRate>
        </plugin>
      </sensor>
    </gazebo> -->
  </xacro:macro>
</robot>
