<launch>
  <!-- Rear LiDAR -->
  <node pkg="rslidar_sdk" type="rslidar_sdk_node" name="rslidar_rear" output="screen">
    <rosparam command="load" file="$(find rslidar_sdk)/config/lidar_rear.yaml"/>
  </node>

  <!-- rviz -->
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rslidar_sdk)/rviz/rviz.rviz" />

  <!-- Transform -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_rear"
        args="-1.2 0.0 0.5 3.14159 0 0 base_link rslidar_rear"/>
</launch>
